@font-face {
  font-family: "抽奖字体";
  src: url('../assets/DIN-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: '抽奖字体';
}

ul, ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

button, input, select {
  padding: 0;
  margin: 0;
  outline: 0 none;
  border: 0 none;
  background-color: transparent;
  box-sizing: border-box;
  font-family: '抽奖字体';
}

option {
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
}

div, span {
  box-sizing: border-box;
  cursor: default;
}

/* 整体body着色 */
body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(180deg, rgb(146,1,0), rgb(117,1,1) 80%, rgb(117,1,1) 100%);
  overflow: hidden;
}

/* 整体背景图 */
#app {
  transform-origin: 0 0;
  width: 1920px;
  height: 1080px;
  position: relative;
  left: 50%;
  background: url(../assets/bg.png) center/100% 100% no-repeat;
}

/* 背景音乐开关 */
#btn-bgm {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 999;
  border: 2px solid #666;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background: url(../assets/icon_bgm.png) center/80% 80% no-repeat;
  cursor: pointer;
}

#btn-bgm.disabled::after {
  content: '';
  display: block;
  height: 28px;
  width: 2px;
  background-color: #666;
  position: absolute;
  top: 0;
  left: 13px;
  transform: rotateZ(45deg);
}

/* 全局数字显示小框 四处：总人数 抽取人数 已抽 剩余 */
.text-box {
  width: 87px;
  height: 32px;
  position: absolute;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #ab0600;
}

/* 总人数 与 当前抽取人数选择 */
#total-and-pick {
  position: absolute;
  top: 320px;
  left: 500px;
}

#total-num {
  color: #fef5cb;
  left: 83px;
}

#pick-num {
  left: 308px;
  padding-left: 28px;
  color: #fef5cb;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}

#pick-num option {
  color: #ab0600;
}

#pick-num option:hover {
  background: #fef5cb;
}

#pick-arrow-down {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #fef5cb transparent transparent transparent;
  border-width: 6px;
  top: 14px;
  left: 375px;
  pointer-events: none;
}

/* 数字显示 */
.lucky-show {
  position: absolute;
  top: 433px;
  color: #ff3e3e;
  overflow: visible;
  height: 130px;
  line-height: 118px;
  font-size: 120px;
  text-align: center;
}

#lucky-number {
  width: 186px;
  left: 743px;
  text-align: right;
}

#lucky-group-disabled {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

#lucky-group-disabled::before {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  left: 7px;
  top: 5px;
  border-radius: 100px;
  border: 4px solid #ff3e3e;
}

#lucky-group-disabled::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 102px;
  left: 59px;
  top: 9px;
  background-color: #ff3e3e;
  transform: rotateZ(45deg);
}

#lucky-group {
  width: 120px;
  left: 567px;
}

.lucky-text-show {
  width: 100%;
  height: 100%;
  background-position: 0 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: visible;
  white-space: nowrap;
}

.lucky-group-text {
  background-image: url(../assets/group_bg.png);
}

.lucky-number-text {
  background-image: url(../assets/number_bg.png);
  padding-right: 4px;
}

/* 开始结束按钮 */
#btn-lot {
  width: 263px;
  height: 103px;
  position: absolute;
  left: 617px;
  top: 639px;
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
}

#btn-lot.play {
  background-image: url(../assets/btn_start_up.png);
}

#btn-lot.play:active,
#btn-lot.play:disabled {
  background-image: url(../assets/btn_start_down.png);
  background-position: 0 12px;
}

#btn-lot.stop {
  background-image: url(../assets/btn_stop_up.png);
}

#btn-lot.stop:active,
#btn-lot.stop:disabled {
  background-image: url(../assets/btn_stop_down.png);
  background-position: 0 12px;
}

/* 抽奖模式选择 */
#lot-type-container {
  position: absolute;
  left: 618px;
  top: 806px;
  color: #fef5cb;
  font-size: 14px;
  line-height: 13px;
  cursor: default;
}

#lot-type-container > input {
  padding-right: 2px;
  vertical-align: top;
  cursor: pointer;
}
#lot-type-container > label {
  margin-right: 16px;
  vertical-align: top;
  cursor: pointer;
}

/* 看板 */
#board {
  width: 380px;
  height: 100px;
  position: absolute;
  left: 1093px;
  top: 352px;
}

#board > .board-num {
  background: url(../assets/board_bg.png) 0 0/100% 100% no-repeat;
  width: 64px;
  height: 64px;
  line-height: 58px;
  text-align: center;
  float: left;
  font-size: 32px;
  margin: 0 12px 22px 0;
  color: #ff3e3e;
}

/* 看板下方信息数字 */
#lot-count-info {
  position: absolute;
  top: 749px;
  left: 1136px;
}

#number-done {
  top: 0;
  left: 10px;
  font-weight: 600;
  font-size: 24px;
}

#number-left {
  top: 0;
  left: 185px;
  font-weight: 600;
  font-size: 24px;
}

/* 抽奖结果面板 */
#result-panel {
  display: none;
  width: 1270px;
  position: absolute;
  left: 380px;
  top: 70px;
  font-size: 24px;
  color: #ff3e3e;
  padding: 16px;
  background: #fefefe;
  border-radius: 10px;
}

#result-panel .result-row {
  line-height: 32px;
  margin-bottom: 12px;
}

.result-content > span {
  white-space: nowrap;
}

#result-panel .result-row:last-child {
  margin: 0;
}

/* 功能性按钮 */
#foot {
  position: fixed;
  width: 100%;
  height: 20px;
  bottom: 0;
  left: 0;
  z-index: 10000;
}

.hidden-btn {
  transition: opacity 500ms;
  opacity: 0;
  height: 20px;
  line-height: 20px;
  width: 40px;
  text-align: center;
  background: #ff9e12;
}

#reset-btn {
  float: left;
}

#result-btn {
  float: right;
}

/* 数字用的动画 */
.left-in {
  -webkit-animation-duration: 1000ms;
  -moz-animation-duration: 1000ms;
  -o-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: leftIn;
}

@keyframes leftIn {
  0% {
    opacity: 0;
    transform: scale(1,1) translateY(-1500%);
  }
  50%, 70%, 90% {
    opacity: 1;
    transform: scale(1.1,1.1) translateY(0);
  }
  100%, 60%, 80% {
    opacity: 1;
    transform: scale(1,1) translateY(0);
  }
}