@font-face {
  font-family: "抽奖字体";
  src: url('../assets/DIN-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: '抽奖字体';
}

ul, ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

button, input, select {
  padding: 0;
  margin: 0;
  outline: 0 none;
  border: 0 none;
  background-color: transparent;
  box-sizing: border-box;
  font-family: '抽奖字体';
}

option {
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
}

div, span {
  box-sizing: border-box;
}

/* 整体body着色 */
body {
  padding: 0;
  margin: 0;
  background: #ffd89e;
  overflow: hidden;
}
/* 整体背景图 */
#app {
  transform-origin: 0 0;
  width: 1920px;
  height: 1080px;
  position: relative;
  left: 50%;
  background: url(../assets/bg.png) center/100% 100% no-repeat;
}
/* 抽奖机图 */
#machine {
  width: 1286px;
  height: 764px;
  position: absolute;
  left: 302px;
  top: 171px;
  background: url(../assets/number.png) center no-repeat;
}

/* 控制杆 */
#stick {
  position: absolute;
  width: 44px;
  height: 84px;
  left: 939px;
  top: 407px;
}

#stick .ball {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: linear-gradient(-90deg, #e30800 0%, #ffb74f 100%);
  position: absolute;
  top: 15px;
  right: 0;
  z-index: 2;
  transition: all 300ms;
}

#stick .bar-x {
  width: 32px;
  height: 8px;
  background-image: linear-gradient(90deg, #8f322a 0%, #b33e35 100%);
  position: absolute;
  bottom: 0px;
  right: 16px;
}

#stick .bar-y {
  width: 8px;
  height: 40px;
  background-image: linear-gradient(90deg, #8f322a 0%, #b33e35 100%);
  position: absolute;
  top: 44px;
  right: 16px;
  transform-origin: center 36px;
  transition: all 300ms;
}

#stick.active .bar-y {
  transform: rotateX(120deg);
}

#stick.active .ball {
  top: 85px;
}

/* 开始结束按钮 */
#start-btn {
  width: 186px;
  height: 64px;
  position: absolute;
  left: 337px;
  top: 441px;
  background-position: center bottom;
  background-repeat: no-repeat;
}

#start-btn.play {
  background-image: url(../assets/play_nor.png);
}

#start-btn.play:active,
#start-btn.play:disabled {
  background-image: url(../assets/play_pre.png);
}

#start-btn.stop {
  background-image: url(../assets/stop_nor.png);
}

#start-btn.stop:active,
#start-btn.stop:disabled {
  background-image: url(../assets/stop_pre.png);
}

/* 闪灯 */
#light {
  width: 339px;
  height: 179px;
  position: absolute;
  left: 264px;
  top: 71px;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(../assets/Red_on.png);
  animation: light-flickering 1800ms infinite;
}

#light.active {
  animation-duration: 120ms;
}

@keyframes light-flickering {
  0% {
    background-image: url(../assets/Red_on.png);
  }
  50% {
    background-image: url(../assets/Blue_on.png);
  }
  100% {
    background-image: url(../assets/Red_on.png);
  }
}

/* 总人数输入 与 当前抽取人数选择 */
.text-box {
  width: 87px;
  height: 32px;
  position: absolute;
  top: 299px;
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
}

#total {
  left: 298px;
  background: #ffd89e;
}

#pick-num {
  left: 478px;
  padding-left: 28px;
  color: #ff3e3e;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#pick-num option:hover {
  background: #ffd89e;
}

.text-label {
  width: 87px;
  height: 20px;
  position: absolute;
  top: 343px;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #f3f3f3;
}

#total-label {
  left: 298px;
}

#pick-num-label {
  left: 478px;
}

/* 数字显示 */
.lucky-number {
  text-align: center;
  width: 101px;
  height: 127px;
  line-height: 80px;
  font-size: 80px;
  position: absolute;
  left: 685px;
  top: 268px;
  color: #ff3e3e;
  overflow: hidden;
}

.lucky-number .scroller {
  width: 50%;
  padding: 0 0 0 11px;
  float: left;
  animation: scroll 8500ms infinite linear;
}

.lucky-number .scroller.right {
  padding: 0 11px 0 0;
  animation: scroll-reverse 7300ms infinite linear;
}

.lucky-number .scroller > li {
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 80px;
}

#lucky-number.active .scroller {
  animation-duration: 300ms;
}

@keyframes scroll {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(-880px);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateY(-880px);
  }
  100% {
    transform: translateY(-80px);
  }
}

/* 看板 */
#board {
  width: 300px;
  height: 100px;
  position: absolute;
  left: 1169px;
  top: 436px;
}

#board > .board-num {
  width: 50px;
  height: 48px;
  line-height: 1;
  text-align: center;
  float: left;
  font-size: 48px;
  margin: 0 44px 24px 0;
  color: #ff3e3e;
}

/* 看板下方信息数字 */
#number-done {
  left: 1155px;
  top: 826px;
  font-weight: 600;
  font-size: 22px;
}

#number-left {
  left: 1334px;
  top: 826px;
  font-weight: 600;
  font-size: 22px;
}

#number-done-label {
  left: 1155px;
  top: 878px;
  font-size: 18px;
}

#number-left-label {
  left: 1334px;
  top: 878px;
  font-size: 18px;
}

/* 抽奖结果面板 */
#result-panel {
  display: none;
  width: 1270px;
  position: absolute;
  left: 380px;
  top: 200px;
  font-size: 28px;
  color: #ff3e3e;
  padding: 20px;
  background: #fefefe;
  border-radius: 10px;
}

#result-panel .result-row {
  height: 32px;
  line-height: 32px;
  margin-bottom: 8px;
}

#result-panel .result-row:last-child {
  margin: 0;
}

/* 功能性按钮 */
#foot {
  position: fixed;
  width: 100%;
  height: 20px;
  bottom: 0;
  left: 0;
  z-index: 10000;
}

.hidden-btn {
  transition: opacity 500ms;
  opacity: 0;
  height: 20px;
  line-height: 20px;
  width: 40px;
  text-align: center;
  background: #ff9e12;
}

#reset-btn {
  float: left;
}

#result-btn {
  float: right;
}

/* 数字用的动画 */
.left-in {
  -webkit-animation-duration: 1000ms;
  -moz-animation-duration: 1000ms;
  -o-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: leftIn;
}

@keyframes leftIn {
  0% {
    opacity: 0;
    transform: scale(1,1) translateY(-1500%);
  }
  50%, 70%, 90% {
    opacity: 1;
    transform: scale(1.1,1.1) translateY(0);
  }
  100%, 60%, 80% {
    opacity: 1;
    transform: scale(1,1) translateY(0);
  }
}